<h1>some big words, here!</h1>
<%= form_for @group do |f| %>

  <p><%= f.label :user_ids %><br />
    <%= f.collection_check_boxes(:user_ids, @users, :id, :name)%>
  </p>
  <%= f.submit "Add these members" %>
<% end %>
