<div class="greeting small-12 medium-6 large-4 columns">
  <div class="row">
    <h3>Draw Names</h3>
    <p>Clicking "Go!" can't be undone and no new group members can be added. Emails will be sent to each participant informing then of the name of their assigned pair to whom they will give a gift. (If "Go!" isn't available, the pairs have already been set.)</p>
  </div>
</div

<div class="info small-12 medium-6 large-4 columns ">
  <div class="button">
    <%= button_to "Go!", group_pairs_path(@group) %>
  </div>
</div>
