<div class="info small-10 columns">
  <div class="row">
    <% @names.each do |n| %>
    <h3><%= n %></h3>
    <% end %>
  </div>
</div>

click a button "draw names" (where do I store this info?)
maybe add a column to the groups table? .json?

ruby:



javascript:

var pairings = {
  santa.name: "recipient.name"
}
