<% content_for :nav do %>
  <%= link_to 'Create Group', new_user_group_path %>
<% end %>
<div class="greeting small-6 columns">
  <div class="row">
    <h1>
      Here are <%= current_user.name %>'s groups:
    </h1>
    <hr>
  </div>
</div>
<div class="info small-10 columns end">
  <div class="row">
    <p>
      <ul>
        <% @groups.each do |group| %>
          <li> <%= link_to "#{group.name}", '/users/' + "#{current_user.id}" + '/groups/' + "#{group.id}" %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
<div class="">
  <div class="row">
    <%= link_to "Create a Group", '/users/' + "#{current_user.id}" + '/groups/new'%>
  </div>
</div>
