<div class="rules-link">
  <% if user_signed_in? %>
    Welcome, <%= current_user.name %>!
  <% end %>
  <p>
    <%= link_to "Common rules", 'https://www.whiteelephantrules.com/' %> for a White Elephant party</br>
    Check out your groups or create a new one by clicking above.
  </p>
</div>
