<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Howdy <%= @santa.name %>!
    </h1>
    <p>
      This year for <%= @group.name %>, you drew
      <%= @recipient.name %>.

      Happy Celebrating!

      The White Elephant
    </p>
  </body>
</html>
